.settingsButton {
  bottom: 30px;
  flex: 0 0 auto;
  left: 18px;
  position: fixed;
  z-index: 1000;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.normal {
  opacity: 0.68;
}

.faded {
  opacity: 0.3;
}

@media (max-width: 768px) {
  .settingsButton {
    bottom: 24px;
    left: 14px;
  }
}

@media (max-width: 480px) {
  .settingsButton {
    bottom: 56px;
    left: 12px;
  }
}
